---
import { Image } from "astro:assets";
import Landing from "../layouts/Landing.astro";
import profilePicture from "../assets/images/Andi-Jones-Profile-Picture-1310x1832px.png";
import taglinePicture from "../assets/images/How-Could-Andi-Jones-Do-This-2190x1168px.png";
import courtHousePicture from "../assets/images/Court-House.jpg";
import parksAndRecPicture from "../assets/images/Parks-and-Rec-Department.jpg";
import policeDeptPicture from "../assets/images/Police-Department.jpg";
import signaturePicture from "../assets/images/Andi-Jones-signature.png";
import chibiPicture from "../assets/images/Andi-Jones-Chibi-Square.png";
import chairPicture from "../assets/images/Andi-Jones-Leaning-Back-In-Chair.png";
import logoLight from "../assets/images/Andi-Jones-Logo.png";
---

<Landing
  title="Andi Jones for Mayor"
  description="The Three-Time Back-To-Back Mayoral Champion"
  class="font-display"
>
  <header class="border-b-8 border-[#00ccff] bg-[#00ccff]">
    <div
      class="mx-auto flex w-11/12 flex-col-reverse justify-between pt-4 md:flex-row md:items-center"
    >
      <div class="relative z-[1]">
        <Image
          src={profilePicture}
          alt="Andi Jones For Mayor of Los Santos 2023"
        />
      </div>
      <div class="mt-4 md:-ml-28 md:mt-0">
        <Image
          src={taglinePicture}
          alt="How could Andi Jones do this? Let me tell you how!"
        />
      </div>
    </div>
    <div class="flex items-center justify-center bg-[#151e42] py-4 text-white">
      <ul class="flex flex-col gap-6 text-lg font-bold uppercase md:flex-row">
        <li><a href="#my-plans" class="hover:underline">My Plans</a></li>
        <li><a href="#platform" class="hover:underline">Platform</a></li>
        <li>
          <a href="#qualifications" class="hover:underline">Qualifications</a>
        </li>
        <li><a href="#legacy" class="hover:underline">Legacy</a></li>
        <li>
          <a href="#accomplishments" class="hover:underline">Accomplishments</a>
        </li>
      </ul>
    </div>
  </header>
  <main id="top" class="mx-auto max-w-4xl px-4">
    <section id="my-plans" class="py-6">
      <h2 class="my-6 text-3xl font-bold uppercase leading-[0.78] md:text-6xl">
        <i
          class="mr-4 mt-1 inline-block aspect-square w-6 bg-contain bg-no-repeat md:w-10"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
            ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              fill="#172554"
              d="M224 32H64C46.3 32 32 46.3 32 64v64c0 17.7 14.3 32 32 32H441.4c4.2 0 8.3-1.7 11.3-4.7l48-48c6.2-6.2 6.2-16.4 0-22.6l-48-48c-3-3-7.1-4.7-11.3-4.7H288c0-17.7-14.3-32-32-32s-32 14.3-32 32zM480 256c0-17.7-14.3-32-32-32H288V192H224v32H70.6c-4.2 0-8.3 1.7-11.3 4.7l-48 48c-6.2 6.2-6.2 16.4 0 22.6l48 48c3 3 7.1 4.7 11.3 4.7H448c17.7 0 32-14.3 32-32V256zM288 480V384H224v96c0 17.7 14.3 32 32 32s32-14.3 32-32z"
            ></path></svg
          ></i
        >My Plans
      </h2>
      <Image
        src={parksAndRecPicture}
        alt="Court House"
        class="mb-6 rounded shadow-lg"
      />
      <h3 class="my-6 text-4xl font-bold leading-[0.78]">
        Revive the Parks and Rec Department
      </h3>
      <p class="mb-6">
        Encouraging more events as well as running my own (open to all
        citizens).
      </p>
      <div class="my-20">&nbsp;</div>
      <Image
        src={courtHousePicture}
        alt="Court House"
        class="mb-6 rounded shadow-lg"
      />
      <h3 class="my-6 text-4xl font-bold leading-[0.78]">
        Implement Several New Governmental Departments
      </h3>
      <p class="mb-6">
        Focused on giving civilians new interactive and creative jobs to sink
        their teeth into.
      </p>
      <p class="mb-6">
        Get rid of the grant application form, but still maintain the
        opportunity for grants, instead holding consistent meetings with
        businesses or event planners who are seeking funding in order to promote
        interaction as well as a more fine-tuned system to ensure the money is
        being used responsibly and going toward a good cause.
      </p>
      <p class="mb-6">
        Draft and push legislation surrounding voter fraud, as well as help
        ensure the aviation legislation/charges are completed if not already
        finished by the time I (hopefully) take office.
      </p>
      <h4
        class="mx-auto my-6 max-w-3xl border-b border-t border-blue-950 py-8 text-center text-3xl font-bold leading-[0.78]"
      >
        Weekly town hall meetings to keep up-to-date with the concerns of
        citizens.
      </h4>
      <div class="my-20">&nbsp;</div>
      <Image
        src={policeDeptPicture}
        alt="Court House"
        class="mb-6 rounded shadow-lg"
      />
      <h3 class="my-6 text-4xl font-bold leading-[0.78]">
        Meet Consistently With All Governmental Positions
      </h3>
      <p class="mb-6">
        Meet with Police, Health Care Professionals, DOC, and DOJ to ensure that
        I’m in the loop with their current situations and doing everything I can
        to help.
      </p>
      <p class="mb-6">
        I’m a workaholic and extremely good at being organized, consistent, and
        to the point and will continue to function this way when handling all
        matters that land on my desk.
      </p>
      <p class="mb-6">
        I give a shit about the people that live here and the experience they’re
        having in their day to day lives. I genuinely only want to do this again
        to try and improve the quality of life for every person who will let me.
      </p>
      <p class="mb-6">
        More specific goals will be formulated throughout the campaign as I meet
        with groups and individuals. I encourage everyone interested to give me
        a call and see what I’ve got on my list, or to help add to it.
      </p>
    </section>
    <section id="platform" class="py-6">
      <h2 class="my-6 text-3xl font-bold uppercase leading-[0.78] md:text-6xl">
        <i
          class="mr-4 mt-1 inline-block aspect-square w-6 bg-contain bg-no-repeat md:w-10"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
            ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              fill="#172554"
              d="M480 32c0-12.9-7.8-24.6-19.8-29.6s-25.7-2.2-34.9 6.9L381.7 53c-48 48-113.1 75-181 75H192 160 64c-35.3 0-64 28.7-64 64v96c0 35.3 28.7 64 64 64l0 128c0 17.7 14.3 32 32 32h64c17.7 0 32-14.3 32-32V352l8.7 0c67.9 0 133 27 181 75l43.6 43.6c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V300.4c18.6-8.8 32-32.5 32-60.4s-13.4-51.6-32-60.4V32zm-64 76.7V240 371.3C357.2 317.8 280.5 288 200.7 288H192V192h8.7c79.8 0 156.5-29.8 215.3-83.3z"
            ></path></svg
          ></i
        >Platform
      </h2>
      <Image
        src={chairPicture}
        alt="Andi Jones Leaning Back In Chair"
        class="float-right mb-6 ml-6 w-1/2"
      />
      <p class="mb-6">
        First and foremost, <strong>civilians</strong> would be my focus for this
        term, and have been my focus for the past few months. I want to run not only
        more of my own events that are civilian friendly and open to everyone, but
        also support those who have ideas of their own and help however I can to
        make their ideas a reality through the revival of the
        <strong>Parks & Recreation</strong> department. I would like to implement
        several government departments specifically designed for interesting <strong
          >new jobs</strong
        > for civilians, including creative positions in the <strong
          >Department of Public Health</strong
        >, introducing <strong>The Postal Service</strong>, and much more.
      </p>
      <p class="mb-6">
        Within the Mayor’s office itself, I aim to make some changes that will
        encourage <strong>interaction</strong> and <strong
          >relationship-building</strong
        > between myself, my team, and the entities and individuals that seek out
        our assistance. I want to meet with the people that need me, and be actively
        in the loop as to what we can do to help, not simply rely on digital interaction
        via automated forms. In addition, I will be holding a weekly town hall to
        hear from the citizens, as well as, at a different time, hold an open floor
        for businesses or events that are seeking funding to present their ideas
        in front of a panel who are ready and willing to help those that they feel
        could bring something <strong>unique and wonderful</strong> to the city.
      </p>
      <p class="mb-6">
        When it comes to governmental entities, I have always loved checking in
        on the <strong>Police Departments</strong>, the <strong
          >Department of Corrections</strong
        >, the <strong>Department of Justice</strong>, and healthcare positions
        to make sure I’m up to date on anything and everything I can do to lend
        a hand, and I will continue that trend through this term as I did in my
        first two.
      </p>
      <p class="mb-6">
        Above all else, I know I can promise <strong>
          efficiency, organization, and hard work
        </strong> in my term. I hold myself to a higher standard than what’s probably
        realistic, but I love to help people, and I will always do everything in
        my power to perform quick, efficient, and detailed work in my efforts to
        make this city <strong>a better place to live</strong>.
      </p>
      <p class="mb-6">
        This platform will be subject to additions as the campaign moves forward
        and as I speak to more groups and entities around the city to hear what
        everyone is looking for more specifically from their next Mayor to help
        improve their time in our lovely state. I encourage everyone to reach
        out to me personally to see what else I’ve been able to identify that
        I’d like to work on or add to the city.
      </p>
    </section>
    <section id="qualifications" class="py-6">
      <h2 class="my-6 text-3xl font-bold uppercase leading-[0.78] md:text-6xl">
        <i
          class="mr-4 mt-1 inline-block aspect-square w-6 bg-contain bg-no-repeat text-blue-950 md:w-10"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
            ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              fill="#172554"
              d="M14 2.2C22.5-1.7 32.5-.3 39.6 5.8L80 40.4 120.4 5.8c9-7.7 22.3-7.7 31.2 0L192 40.4 232.4 5.8c9-7.7 22.3-7.7 31.2 0L304 40.4 344.4 5.8c7.1-6.1 17.1-7.5 25.6-3.6s14 12.4 14 21.8V488c0 9.4-5.5 17.9-14 21.8s-18.5 2.5-25.6-3.6L304 471.6l-40.4 34.6c-9 7.7-22.3 7.7-31.2 0L192 471.6l-40.4 34.6c-9 7.7-22.3 7.7-31.2 0L80 471.6 39.6 506.2c-7.1 6.1-17.1 7.5-25.6 3.6S0 497.4 0 488V24C0 14.6 5.5 6.1 14 2.2zM96 144c-8.8 0-16 7.2-16 16s7.2 16 16 16H288c8.8 0 16-7.2 16-16s-7.2-16-16-16H96zM80 352c0 8.8 7.2 16 16 16H288c8.8 0 16-7.2 16-16s-7.2-16-16-16H96c-8.8 0-16 7.2-16 16zM96 240c-8.8 0-16 7.2-16 16s7.2 16 16 16H288c8.8 0 16-7.2 16-16s-7.2-16-16-16H96z"
            ></path></svg
          ></i
        >Qualifications
      </h2>
      <ul class="ml-1 list-inside list-disc md:ml-6">
        <li class="mb-2">
          <strong>First</strong> Mayor of Los Santos, serving <strong>
            two consecutive terms</strong
          >.
        </li>
        <li class="mb-2">
          <strong>Built the Mayor’s office</strong> from the ground up, turning it
          into a workable station to benefit not only the Mayors that came after
          me, but to <strong>benefit all citizens.</strong>.
        </li>
        <li class="mb-2">
          Knowledge of how the State Account operates, including incoming and
          outgoing payments.
        </li>
        <li class="mb-2">
          Knowledge of what tax rates can be adjusted, as well as experience in
          adjusting them to maintain a well-balanced economy.
        </li>
        <li class="mb-2">
          In my previous time holding office, I built relationships with
          individuals in other governmental positions quickly and developed a
          good rapport, relationships I still maintain to this day even as a
          civilian.
        </li>
        <li class="mb-2">
          Have also developed relationships with those who may be newer to
          governmental positions since I last held office, and am in good
          standing with them as well.
        </li>
        <li class="mb-2">
          2+ years employee of <strong>San Andreas State Construction</strong>,
          a position in which I was the only employee for over a year, and have
          general knowledge as to what is possible and what isn’t when hearing
          out bigger and brighter ideas from citizens.
        </li>
        <li class="mb-2">
          Extensive experience in civilian life, especially in event-planning,
          and am able to quickly grasp the image people have for what they are
          looking to accomplish in our city as well as offer advice on how to
          best navigate those waters.
        </li>
        <li class="mb-2">
          Absolute expert in all things paperwork, spreadsheet, scheduling, and
          planning related.
        </li>
        <li class="mb-2">
          Excel greatly in fundraising and brainstorming to raise money for
          businesses or events that may need it (including raising over
          <strong>$17,000,000</strong> during a one hour event for the Liquid Library).
        </li>
      </ul>
    </section>
    <section id="legacy" class="py-6">
      <h2 class="my-6 text-3xl font-bold uppercase leading-[0.78] md:text-6xl">
        <i
          class="mr-4 mt-1 inline-block aspect-square w-6 bg-contain bg-no-repeat text-blue-950 md:w-10"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
            ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              fill="#172554"
              d="M75 75L41 41C25.9 25.9 0 36.6 0 57.9V168c0 13.3 10.7 24 24 24H134.1c21.4 0 32.1-25.9 17-41l-30.8-30.8C155 85.5 203 64 256 64c106 0 192 86 192 192s-86 192-192 192c-40.8 0-78.6-12.7-109.7-34.4c-14.5-10.1-34.4-6.6-44.6 7.9s-6.6 34.4 7.9 44.6C151.2 495 201.7 512 256 512c141.4 0 256-114.6 256-256S397.4 0 256 0C185.3 0 121.3 28.7 75 75zm181 53c-13.3 0-24 10.7-24 24V256c0 6.4 2.5 12.5 7 17l72 72c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-65-65V152c0-13.3-10.7-24-24-24z"
            ></path></svg
          ></i
        >Legacy
      </h2>
      <ul class="ml-1 list-inside list-disc md:ml-6">
        <li class="mb-2">
          Helped to create the Andi Jones Farmer’s Market and Dean World.
        </li>
        <li class="mb-2">Class Three Hunting Rifle charge rework.</li>
        <li class="mb-2">
          Passed the Dispensary Business Guidelines and Requirements.
        </li>
        <li class="mb-2">Drafted and passed the Employee Protection Act.</li>
        <li class="mb-2">
          Created the Parks & Recreation department, as well as drafted and
          passed the Parks and Recreation Guidelines.
        </li>
        <li class="mb-2">
          Drafted and implemented the Deputy Mayor Expectations of Office and
          Responsibilities.
        </li>
        <li class="mb-2">
          Drafted and implemented the Expectations of Mayor Elect.
        </li>
        <li class="mb-2">Lowered taxes.</li>
        <li class="mb-2">Increased pay for Government workers.</li>
        <li class="mb-2">Drafted and pushed the Farmer’s Market Guidelines.</li>
        <li class="mb-2">
          Pushed forward and passed removals from the Tax Code.
        </li>
        <li class="mb-2">Formed the Department of Public Health.</li>
        <li class="mb-2">
          Aided in adjusting tax codes in order to better suit what the people
          are looking for.
        </li>
        <li class="mb-2">
          Compiled transactions and sought out assistance to understand the
          state budget and attempt to figure out how much the state could afford
          (back when loan companies drew from the state account, and back when
          the state account was given to me at -$7,000,000).
        </li>
        <li class="mb-2">
          Attempted to financially (from my personal account) assist with
          serious issues when people were struggling or in need (businesses in
          need, CVPI repairs, etc.).
        </li>
        <li class="mb-2">
          Maintained (for the majority) a friendly attitude with anyone who
          sought out my assistance.
        </li>
        <li class="mb-2">
          Had read and/or worked with over 160 business proposals/new businesses
        </li>
      </ul>
    </section>
    <section id="accomplishments" class="py-6">
      <h2 class="my-6 text-3xl font-bold uppercase leading-[0.78] md:text-6xl">
        <i
          class="mr-4 mt-1 hidden aspect-square w-6 bg-contain bg-no-repeat text-blue-950 md:inline-block md:w-10"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
            ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              fill="#172554"
              d="M400 0H176c-26.5 0-48.1 21.8-47.1 48.2c.2 5.3 .4 10.6 .7 15.8H24C10.7 64 0 74.7 0 88c0 92.6 33.5 157 78.5 200.7c44.3 43.1 98.3 64.8 138.1 75.8c23.4 6.5 39.4 26 39.4 45.6c0 20.9-17 37.9-37.9 37.9H192c-17.7 0-32 14.3-32 32s14.3 32 32 32H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H357.9C337 448 320 431 320 410.1c0-19.6 15.9-39.2 39.4-45.6c39.9-11 93.9-32.7 138.2-75.8C542.5 245 576 180.6 576 88c0-13.3-10.7-24-24-24H446.4c.3-5.2 .5-10.4 .7-15.8C448.1 21.8 426.5 0 400 0zM48.9 112h84.4c9.1 90.1 29.2 150.3 51.9 190.6c-24.9-11-50.8-26.5-73.2-48.3c-32-31.1-58-76-63-142.3zM464.1 254.3c-22.4 21.8-48.3 37.3-73.2 48.3c22.7-40.3 42.8-100.5 51.9-190.6h84.4c-5.1 66.3-31.1 111.2-63 142.3z"
            ></path></svg
          ></i
        >Accomplishments
      </h2>
      <ul class="ml-1 list-inside list-disc md:ml-6">
        <li class="mb-2">
          I have read hundreds more business proposals since leaving office in
          my capacity as an employee of San Andreas State Construction.
        </li>
        <li class="mb-2">
          Helped form and set up the County Clerk position at City Hall.
        </li>
        <li class="mb-2">
          Helped write many business proposals for others seeking to start their
          own businesses.
        </li>
        <li class="mb-2">
          Held multiple Mayoral Academies to train potential future Mayors on
          the ins and outs of the position.
        </li>
        <li class="mb-2">
          I have put on multiple very successful events for the city, all
          civilian oriented:
          <ul class="ml-3 list-inside md:ml-6" style="list-style-type:circle;">
            <li class="mb-2">
              Park Tank (an event designed to bring potential storefront owners
              to pitch their businesses to the HOA to help make Mirror Park a
              frequently trafficked hub and hang out area).
            </li>
            <li class="mb-2">
              Survivor Season 1: HOA (a week-long event consisting of 24
              contestants and even more staff).
            </li>
            <li class="mb-2">
              Survivor Season 2: Heroes vs. Villains (a week-long event now
              opened up to be civilian friendly, consisting of 20 challenges, 24
              contestants, 20+ members of the crew/audience/volunteers, a
              $10,000,000 prize pool, and 45 applicants).
            </li>
            <li class="mb-2">
              The Date Auction (raised $17,000,000 to cover construction costs
              for the Liquid Library and put the extra into AK Events, a
              non-profit, to fund future prize pools and other events).
            </li>
            <li class="mb-2">
              Shark Tank (a civilian focused event where businesses and those
              who are looking to run events could come and pitch their idea to
              people who had cash to invest and advise these individuals in
              their endeavors and help make them a reality).
            </li>
          </ul>
        </li>
        <li class="mb-2">
          Proposed and helped draft the Marriage Legislation.
        </li>
        <li class="mb-2">Trained as a Legal Aid.</li>
        <li class="mb-2">
          Successfully earned my BAR license, becoming a fully licensed lawyer.
        </li>
      </ul>
    </section>
  </main>
  <footer class="mt-20">
    <section
      class="flex justify-center border-t-8 border-[#151e42] bg-[#00ccff] py-10"
    >
      <div class="max-w-[350px]">
        <Image
          src={chibiPicture}
          alt="Andi Jones Chibi Square"
          class="mx-auto px-6"
        />
        <ul
          class="rounded-md border border-black bg-white p-4 text-left font-mono drop-shadow-2xl"
        >
          <li class="text-center">
            <span class="text-xs">Offical Signature</span>
            <Image
              src={signaturePicture}
              alt="Andi Jones Signature"
              class="mx-auto"
            />
          </li>
          <li><strong>Name:</strong> Andi Jones</li>
          <li><strong>State ID:</strong> 1449</li>
          <li><strong>Phone:</strong> 628-191-1072</li>
          <li><strong>Party Affiliation:</strong> Independent</li>
        </ul>
      </div>
    </section>
    <section
      class="flex flex-col items-center border-t-8 border-white bg-blue-950 px-3 py-24"
    >
      <Image
        src={logoLight}
        alt="Andi Jones for Mayor Logo"
        class="mb-6 w-full max-w-lg"
      />
      <ul class="flex flex-col gap-6 text-lg text-white md:flex-row">
        <li><a href="#my-plans" class="hover:underline">My Plans</a></li>
        <li><a href="#platform" class="hover:underline">Platform</a></li>
        <li>
          <a href="#qualifications" class="hover:underline">Qualifications</a>
        </li>
        <li><a href="#legacy" class="hover:underline">Legacy</a></li>
        <li>
          <a href="#accomplishments" class="hover:underline">Accomplishments</a>
        </li>
      </ul>
      <div class="mt-6 text-center font-bold text-white">
        Funded by The Andi Jones For Mayor Political Action Comimittee &copy;
        2023.
      </div>
    </section>
  </footer>
  <a
    href="#top"
    class="fixed bottom-2 right-4 z-50 flex items-center rounded bg-[#00ccff] px-2 uppercase text-white drop-shadow-2xl"
  >
    <div class="mr-1 -translate-y-0.5 text-3xl">&uarr;</div>
    <div class="font-bold">Top</div>
    <a> </a>
  </a>
</Landing>
