---
import { faEnvelope, faLocationDot } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { config } from "../config";
import profilePicturePortrait from "../assets/images/tadjh-profile-4x5.jpg";
import CustomLink from "./CustomLink";
import Socials from "./Socials";
import { Image } from "astro:assets";
---

<div
  class="relative grid grid-cols-1 overflow-hidden rounded-lg bg-orange-tadjh text-white/90 md:grid-cols-2"
>
  <div class="order-2 flex flex-col gap-y-8 p-6 md:order-none md:p-10">
    <div class="flex flex-1 flex-col gap-y-8">
      <h2 class="text-5xl font-bold uppercase leading-[0.78] md:text-6xl">
        {`Hi I'm ${config.siteTitle.split(" ")[0]}`}
      </h2>
      <a
        href="mailTo:hello@tadjh.dev"
        target="_blank"
        rel="noreferrer"
        class="group flex flex-row items-center gap-x-2 text-xl font-bold hover:cursor-pointer hover:underline md:text-3xl"
      >
        <FontAwesomeIcon
          icon={faEnvelope}
          className="h-8 w-8 transition-transform group-hover:scale-110"
        />
        {config.email}
      </a>
    </div>
    <p class="indent-12 text-base md:text-lg lg:text-xl">
      {config.bio}{" "}
      <CustomLink href="/about" inline> Learn More &rarr; </CustomLink>
    </p>
    <div class="text-xl">
      <div>{config.siteTitle}</div>
      <div class="group flex flex-row items-center gap-x-2">
        <FontAwesomeIcon
          icon={faLocationDot}
          className="h-6 w-6 transition-transform group-hover:scale-110"
        />
        {config.location}
      </div>
    </div>
    <Socials />
  </div>
  <div class="relative order-1 min-h-96 overflow-hidden md:order-none">
    <div class="absolute inset-0 box-border h-full w-full">
      <Image
        src={profilePicturePortrait}
        alt="Tadjh Brooks Portrait"
        class="h-full w-full object-cover object-[50%_16%] transition-transform hover:scale-110"
      />
    </div>
  </div>
</div>
