---
import { twMerge } from "tailwind-merge";
import { getCollection } from "astro:content";
import CustomLink from "./CustomLink";
import TagList from "./TagList";
import Hero from "./Hero.astro";

const projects = (
  await getCollection("projects", ({ data }) => {
    return data.draft !== true;
  })
).sort((a, b) => {
  if (a.data.sortOrder || b.data.sortOrder) {
    return (
      (a.data.sortOrder?.valueOf() || 0) - (b.data.sortOrder?.valueOf() || 0)
    );
  }

  return a.data.pubDate.valueOf() - b.data.pubDate.valueOf();
});
---

<div class="flex flex-col gap-32">
  {
    projects.map((project) => (
      <Hero project={project}>
        <div class="flex flex-row items-center justify-between gap-3">
          <h3
            class={twMerge(
              "text-xl font-bold md:text-4xl",
              project.data.containerClass,
            )}
          >
            <CustomLink href={`/projects/${project.slug}/#${project.slug}`}>
              {project.data.title}
            </CustomLink>
          </h3>
          <CustomLink
            href={`/projects/${project.slug}/`}
            className="rounded-lg bg-gradient-to-br from-orange-500 to-orange-600 px-4 py-2 text-base font-bold text-white shadow-2xl transition-transform hover:scale-110 group-hover:-translate-y-0 group-hover:scale-110 md:text-xl"
          >
            Read More
          </CustomLink>
        </div>
        {project.data.categories && (
          <TagList label="Categories" tags={project.data.categories} />
        )}
        {project.data.tags && (
          <TagList label="Skills" tags={project.data.tags} />
        )}
      </Hero>
    ))
  }
</div>
