---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config/constants";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Main from "../../components/Main";
import Page from "../../components/Page";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faGithub } from "@fortawesome/free-brands-svg-icons";
import CustomLink from "../../components/CustomLink";
import { faArrowUpRightFromSquare } from "@fortawesome/free-solid-svg-icons";
import Layout from "../../layouts/Layout.astro";
import { projects } from "../../config/projects";
import type { Project } from "../../types";
import Tag from "../../components/Tag";
import TagList from "../../components/TagList";

export function getStaticPaths() {
  return projects.map(({ slug, ...props }) => {
    return {
      params: { slug },
      props,
    };
  });
}

type Props = Project;

const {
  title,
  description,
  hype,
  tasks,
  repository,
  link,
  tags,
  categories,
  image,
} = Astro.props;
---

<Layout title={`${SITE_TITLE} - ${title}`} description={SITE_DESCRIPTION}>
  <Page>
    <Header />
    <Main>
      <h1>
        {title}
      </h1>
      {categories && <TagList label="Categories" tags={categories} />}
      {tags && <TagList label="Skills" tags={tags} />}
      <br />
      <p>{description}</p>
      <!-- TODO animated numbers in -->
      <ul class="flex flex-row flex-wrap gap-2">
        {hype.map((entry: string) => <li>{entry}</li>)}
      </ul>
      <!-- TODO animated each list element in -->
      <ul class="list-disc">
        {tasks.map((task: string) => <li>{task}</li>)}
      </ul>
      <br />
      <div class="flex flex-row gap-x-4">
        <CustomLink
          href={repository}
          external
          title="View the source code on Github"
          aria-label="View the source code on Github"
        >
          <FontAwesomeIcon icon={faGithub} className="h-6 w-6" />
        </CustomLink>
        <CustomLink
          href={link}
          external
          title="Visit this project's webpage"
          aria-label="Visit this project's webpage"
        >
          <FontAwesomeIcon
            icon={faArrowUpRightFromSquare}
            className="h-6 w-6"
          />
          Visit this project
        </CustomLink>
      </div>
      <br />
    </Main>
    <Footer minimal />
  </Page>
</Layout>
